﻿@model DashboardModel

@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Models.ViewModel;
@using Pollyfy.Core.Extensions;
@{
    ViewBag.Title = "Dashboard";
}


<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-group"></i></div>
            <div class="count">@Model.UserCount</div>
            <h3>Toplam Kullanıcı</h3>
            <p>Sistemdeki aktif kullanıcı sayısı</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-user"></i></div>
            <div class="count">@Model.OnlineCount</div>
            <h3>Çevrimiçi Kullanıcı</h3>
            <p>Şuan çevrimiçin olan kullanıcı sayısı</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-edit"></i></div>
            <div class="count">@Model.SurveyCount</div>
            <h3>Toplam Anket</h3>
            <p>Sahip olduğunuz anket sayısı</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">@Model.PublishCount</div>
            <h3>Aktif Anket</h3>
            <p>Şuan yayında olan anket sayısı</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Toplam Katılım<small>Tüm anketleriniz için son bir aylık ilerleme</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:280px">
                        <div id="placeholder33x" class="demo-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Kısayol Menüsü</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @if (Common.CurrentUser != null && (Common.CurrentUser.Types != UserType.DashboardUser && Common.CurrentUser.Types != UserType.MobileUser))
                {
                    <a class="btn btn-app" href="~/Survey/New">
                        <i class="fa fa-plus-circle"></i>&nbsp;Anket Ekle
                    </a>
                }
                @if (Common.CurrentUser != null && Common.CurrentUser.Types != UserType.MobileUser)
                {
                    <a class="btn btn-app" href="~/Report/">
                        <i class="fa fa-bar-chart-o"></i>&nbsp;İstatistik
                    </a>
                }
                @if (Common.CurrentUser != null && (Common.CurrentUser.Types == UserType.SystemAdmin || Common.CurrentUser.Types == UserType.CompanyAdmin))
                {
                    <a class="btn btn-app" href="~/User/New">
                        <i class="fa fa-plus-circle"></i>Kullanıcı Ekle
                    </a>
                }
                @if (Common.CurrentUser != null && Common.CurrentUser.Types == UserType.SystemAdmin)
                {
                    <a class="btn btn-app" href="~/Company/New">
                        <i class="fa fa-plus-circle"></i>&nbsp;Şirket Ekle
                    </a>
                }
                <hr>
                @if (Common.CurrentUser != null && (Common.CurrentUser.Types == UserType.SystemAdmin || Common.CurrentUser.Types == UserType.CompanyAdmin))
                {
                    <a class="btn btn-app" href="~/User">
                        <span class="badge bg-green">@Model.UserCount</span>
                        <i class="fa fa-users"></i>&nbsp;Kullanıcılar
                    </a>
                }
                @if (Common.CurrentUser != null && (Common.CurrentUser.Types != UserType.DashboardUser && Common.CurrentUser.Types != UserType.MobileUser))
                {
                    <a class="btn btn-app" href="~/Survey">
                        <span class="badge bg-green">@Model.SurveyCount</span>
                        <i class="fa fa-edit"></i>&nbsp;Anketler
                    </a>
                }
                @if (Common.CurrentUser != null && Common.CurrentUser.Types == UserType.SystemAdmin)
                {
                    <a class="btn btn-app" href="~/Company">
                        <span class="badge bg-green">@Model.CompanyCount</span>
                        <i class="fa fa-compass"></i>&nbsp;Şirketler
                    </a>
                }
                @if (Common.CurrentUser != null && Common.CurrentUser.Types == UserType.SystemAdmin)
                {
                    <a class="btn btn-app" href="~/System/Categories">
                        <i class="fa fa-cogs"></i>&nbsp;Ayarlar
                    </a>
                }
                <a class="btn btn-app" href="~/Help">
                    <i class="fa fa-question-circle"></i>&nbsp;Yardım
                </a>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!-- Flot -->
    <script>
        $(document).ready(function () {
            var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

            var d1 = [@String.Join(",", Model.ParticipationChartSeries.Select(m=> string.Format("[{0},{1}]",m.UnixDate*1000,m.Count)) )];
            var chartMinDate = @(Model.SerieStartUnixDate*1000);
            var chartMaxDate = @(Model.SerieEndUnixDate*1000);

            var tickSize = [1, "day"];
            var tformat = "%d/%m/%y";

            //graph options
            var options = {
                grid: {
                    show: true,
                    aboveData: true,
                    color: "#3f3f3f",
                    labelMargin: 10,
                    axisMargin: 0,
                    borderWidth: 0,
                    borderColor: null,
                    minBorderMargin: 5,
                    clickable: true,
                    hoverable: true,
                    autoHighlight: true,
                    mouseActiveRadius: 100
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        lineWidth: 2,
                        steps: false
                    },
                    points: {
                        show: true,
                        radius: 4.5,
                        symbol: "circle",
                        lineWidth: 3.0
                    }
                },
                legend: {
                    position: "ne",
                    margin: [0, -25],
                    noColumns: 0,
                    labelBoxBorderColor: null,
                    labelFormatter: function (label, series) {
                        // just add some space to labes
                        return label + '&nbsp;&nbsp;';
                    },
                    width: 40,
                    height: 1
                },
                colors: chartColours,
                shadowSize: 0,
                tooltip: true, //activate tooltip
                tooltipOpts: {
                    content: "%s: %y.0",
                    xDateFormat: "%d/%m",
                    shifts: {
                        x: -30,
                        y: -50
                    },
                    defaultTheme: false
                },
                yaxis: {
                    min: 0
                },
                xaxis: {
                    mode: "time",
                    minTickSize: tickSize,
                    timeformat: tformat,
                    min: chartMinDate,
                    max: chartMaxDate
                }
            };
            var plot = $.plot($("#placeholder33x"), [{
                label: "Katılım Sayısı",
                data: d1,
                lines: {
                    fillColor: "rgba(150, 202, 89, 0.12)"
                },
                points: {
                    fillColor: "#fff"
                }
            }], options);
        });
    </script>
    <!-- /Flot -->
}