﻿@model IEnumerable<Pollyfy.Models.ViewModel.QuestionModel>
@using Pollyfy.Web.Core;
@using Pollyfy.Core.Extensions;
@using Pollyfy.Models;
@using Pollyfy.Models.ViewModel;
@{
    ViewBag.Title = "Sorular";
    Layout = null;
    var Surveyname = ViewBag.Surveyname;

}

<script type="text/javascript">
    function Gonder() {
        var SelectedItems = new Array();
        var i = 0;
        @foreach(var item in Model)
        {
            
            if (item.QuestionType == 0)
            {
                <text>
                var selected = jQuery('input[name=@item.QuestionId]:checked').val();
                SelectedItems[i] = selected;
                i++;
                </text>
            }
            else if (item.QuestionType == 1)
            {
                  <text>
                var selectedR = document.getElementsByName('@item.QuestionId');
                var S = null;
                for (var a = 0; selectedR[a]; ++a)
                {
                    if (selectedR[a].checked)
                    {
                        if (a == 0)
                        {
                              S = selectedR[a].value;
                        }
                        else
                        {
                              S += "," + selectedR[a].value;
                        }
                    }
                }
                SelectedItems[i] = S;
                i++;
        </text>
            }
           if (item.QuestionType == 2){
            <text>
                SelectedItems[i] = document.getElementById("@item.QuestionId").value;
                i++;
            </text>
            }
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("SoruKaydet", "Sorular")",
            data: JSON.stringify({ function_param: SelectedItems }),
            contentType: "application/json; charset=utf-8;"
    });
    };
</script>
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>@Surveyname</title>
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <!-- Favicons-->
    <link rel="shortcut icon" href="~/Content/SurveyTemplate/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" type="image/x-icon" href="~/Content/SurveyTemplate/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/Content/SurveyTemplate/img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/Content/SurveyTemplate/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/Content/SurveyTemplate/img/apple-touch-icon-144x144-precomposed.png">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="~/Content/SurveyTemplate/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/SurveyTemplate/css/style.css" rel="stylesheet">
    <link href="~/Content/SurveyTemplate/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/SurveyTemplate/css/socialize-bookmarks.css" rel="stylesheet">
    <link href="~/Content/SurveyTemplate/js/fancybox/source/jquery.fancybox.css?v=2.1.4" rel="stylesheet">
    <link href="~/Content/SurveyTemplate/check_radio/skins/square/aero.css" rel="stylesheet">
    <!-- Google web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <!-- Toggle Switch -->
    <link rel="stylesheet" href="~/Content/SurveyTemplate/css/jquery.switch.css">
    <!-- Owl Carousel Assets -->
    <link href="~/Content/SurveyTemplate/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/SurveyTemplate/css/owl.theme.css" rel="stylesheet">
    <!-- Google web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Jquery -->
    <script src="~/Content/SurveyTemplate/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/SurveyTemplate/js/jquery-ui-1.8.22.min.js"></script>
    <!-- Wizard-->
    <script src="~/Content/SurveyTemplate/js/jquery.wizard.js"></script>
    <!-- Radio and checkbox styles -->
    <script src="~/Content/SurveyTemplate/check_radio/jquery.icheck.js"></script>
    <!-- HTML5 and CSS3-in older browsers-->
    <script src="~/Content/SurveyTemplate/js/modernizr.custom.17475.js"></script>
    <!-- Support media queries for IE8 -->
    <script src="~/Content/SurveyTemplate/js/respond.min.js"></script>
</head>

<body>
    <section class="container" id="main">
        <div id="survey_container">
            <div id="top-wizard">
                <strong>Sorular<span id="location"></span></strong>
                <div id="progressbar"></div>
                <div class="shadow"></div>
            </div>
            <form name="example-1" id="wrapped">
                <div id="middle-wizard">
                    @foreach (var q in Model)
                    {
                        if (q.QuestionType == 0)
                        {
                            <div class="step row">
                                <div class="col-md-10">
                                    <h3>@q.QuestionText</h3>
                                    <ul class="data-list-2">
                                        @foreach (var c in q.Choices)
                                        {

                                            <li>@Html.RadioButton(q.QuestionId, c.ChoiceId, htmlAttributes: new { @class = "required check_radio", id = c.ChoiceId })<label>@c.Text</label></li>

                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        if (q.QuestionType == 1)
                        {
                            <div class="step row">
                                <div class="col-md-10">
                                    <h3>@q.QuestionText</h3>
                                    <ul class="data-list-2">
                                        @foreach (var c in q.Choices)
                                        {

                                            <li>@Html.CheckBox(q.QuestionId, htmlAttributes: new { @class = "required check_radio" , value = c.ChoiceId })<label>@c.Text</label></li>

                                        }
                                    </ul>
                                </div>
                            </div>

                        }

                        if (q.QuestionType == 2)
                        {
                            <div class="step row">
                                <div class="col-md-10">
                                    <h3>@q.QuestionText</h3>
                                    <ul class="data-list-2 clearfix">
                                        <li><h5><strong>Diğer:</strong></h5><textarea name="@q.QuestionId" id="@q.QuestionId" class="form-control"></textarea></li>
                                    </ul>
                                </div>
                            </div>
                        }

                    }
                    <div class="submit step" id="complete">
                    	<i class="icon-check"></i>
						<h3>Anketteki tüm soruları yanıtladınız. Teşekkür ederiz.</h3>
						@*<button type="submit" name="process" class="submit" formmethod="post" onclick="Gonder()">Cevaplarınızı tıklayarak gönderebilirsiniz.</button>*@
                        <button onclick="Gonder()" name="process" class="submit">Cevaplarınızı tıklayarak gönderebilirsiniz.</button>
			        </div><!-- end submit step -->
                </div>
                <div id="bottom-wizard">
                    <button type="button" name="backward" class="backward" formmethod="get">Geri</button>
                    <button type="button" name="forward" class="forward" formmethod="get" >İleri</button>
                </div>

            </form>
        </div>
    </section>
    <script src="~/Content/SurveyTemplate/js/jquery.validate.js"></script>
    <script src="~/Content/SurveyTemplate/js/jquery.placeholder.js"></script>
    <script src="~/Content/SurveyTemplate/js/jquery.tweet.min.js"></script>
    <script src="~/Content/SurveyTemplate/js/jquery.bxslider.min.js"></script>
    <script src="~/Content/SurveyTemplate/js/quantity-bt.js"></script>
    <script src="~/Content/SurveyTemplate/js/bootstrap.js"></script>
    <script src="~/Content/SurveyTemplate/js/retina.js"></script>
    <script src="~/Content/SurveyTemplate/js/functions.js"></script>

    <!-- FANCYBOX -->
    <script src="~/Content/SurveyTemplate/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.4" type="text/javascript"></script>
    <script src="~/Content/SurveyTemplate/js/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.5" type="text/javascript"></script>
    <script src="~/Content/SurveyTemplate/js/fancy_func.js" type="text/javascript"></script>
</body>
</html>