﻿@using System.Web.UI.WebControls
@using Pollyfy.Core.Extensions
@using Pollyfy.Models.DataModel
@using Pollyfy.Web.Core
@model System.Collections.Generic.IEnumerable<Pollyfy.Models.DataModel.UserRole>

@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.CallbackRouteValues = new { Controller = "UserRole", Action = "GetUserRoleList" };
        settings.Width = Unit.Percentage(100);
        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsBehavior.ConfirmDelete = false;
        settings.CommandColumn.Visible = false;
        settings.KeyFieldName = "Id";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = false;
        settings.Settings.ShowFilterRow = true;
        settings.Settings.ShowHeaderFilterButton = true;
        settings.SettingsResizing.ColumnResizeMode = ColumnResizeMode.Control;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.Columns.Add("Name", "Rol Adı");
        settings.Columns.Add(column =>
        {
            column.FieldName = "UserType";
            column.ColumnType = MVCxGridViewColumnType.ComboBox;
            column.Caption = "Rol Tipi";
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            column.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.False;
            var comboBoxProperties = column.PropertiesEdit as ComboBoxProperties;
            comboBoxProperties.DataSource = WebUtils.GetUserTypeSelect();
            comboBoxProperties.TextField = "Text";
            comboBoxProperties.ValueField = "Value";
            comboBoxProperties.ValueType = typeof(int);
        });
        settings.Columns.Add("Note", "Açıklama");

        settings.CommandColumn.ShowSelectCheckbox = false;


        //todo:add UserRoleEdit auth.
        settings.Columns.Add(column =>
        {
            column.FieldName = "Unbound";
            column.ColumnType = MVCxGridViewColumnType.ButtonEdit;
            column.Caption = "İşlem";
            column.UnboundType = DevExpress.Data.UnboundColumnType.String;
            column.EditFormSettings.Visible = DevExpress.Utils.DefaultBoolean.False;
            column.Width = Unit.Percentage(10);
            column.SetDataItemTemplateContent((c) =>
            {
                ViewContext.Writer.Write(string.Format("<a href='/UserRole/Edit/{0}' class='btn btn-default btn-sm'><i class='fa fa-edit'></i></a>", ((int)c.KeyValue).GetIndirectRef(typeof(UserRole))));
                ViewContext.Writer.Write(string.Format("<button type='button' data-id='{0}' id='deleteUserRole' onClick='DeleteItem(this)' class='btn btn-default btn-sm'><i class='fa fa fa-trash'></i></button>", c.KeyValue));
            });
        });
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
}

@grid.Bind(Model).GetHtml()

<script src="~/Scripts/app/userRole.js"></script>
<script src="~/Scripts/app/baseQuery.min.js"></script>