﻿@using Pollyfy.Core.Extensions
@using Pollyfy.Models.DataModel
@using Pollyfy.Web.Core
@model Pollyfy.Models.DataModel.UserRole

@{
    ViewBag.Title = "Kullanıcı Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-compass"></i>&nbsp;<b>Kullanıcı Rol Düzenle</b></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @if (ViewBag.InsertIsSuccess != null && ViewBag.InsertIsSuccess)
                {
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="alert alert-success  alert-dismissible fade in" role="alert">
                                    Kullanıcı Rol ekleme işlemi başarıyla tamamlandı!
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (!ViewBag.IsValid)
                {
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="alert alert-danger  alert-dismissible fade in" role="alert">
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <form id="form" class="form-horizontal form-label-left" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="hidden" id="UserRoleId" name="Id" value="@Model.Id" />
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Rol Adı * </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Kullanıcı Rol adını yazınız" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Kullanıcı Tipi * </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(m => m.UserType, WebUtils.GetUserTypeSelect(forAdmin: !Common.CurrentUser.CompanyId.HasValue), "Seçiniz", new { @onchange = "UserTypeValueChanged(this.value)", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12">Açıklama </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "Açıklama" })
                                    @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="list-container">
                                    <div class="dx-searchbar">
                                        <div id="SearchBox"></div>
                                    </div>
                                    <div id="AuthorizationSelectionList"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/app/userRole.js"></script>
<script src="~/Scripts/app/baseQuery.min.js"></script>