﻿@{
    ViewBag.Title = "Kullanıcı Rolleri";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-list"></i>&nbsp;<b>Kullanıcı Rol Listesi</b></h2>
        <div class="btn-group" style="float:right;">
            <a href="~/UserRole/New" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Rol Ekle</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        @Html.Action("GetUserRoleList")
    </div>
</div>
