﻿@using Pollyfy.Web.Core
@model Pollyfy.Models.DataModel.UserRole

@{
    ViewBag.Title = "Kullanıcı Rol Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-user"></i>&nbsp;<b>Yeni Kullanıcı Rolü</b></h2>
        <div class="btn-group" style="float:right;">
            <a href="~/UserRole" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Kullanıcı Rol Listesi</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        @if (ViewBag.InsertIsSuccess != null && ViewBag.InsertIsSuccess)
        {
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-success  alert-dismissible fade in" role="alert">
                            Kullanıcı Rol ekleme işlemi başarıyla tamamlandı!
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!ViewBag.IsValid)
        {
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-danger  alert-dismissible fade in" role="alert">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            </div>
        }
        <form class="form-horizontal form-label-left" method="post">
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Rol Adı * </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Rol adını yazınız" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12">Rol Tipi * </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(m => m.UserType, WebUtils.GetUserTypeSelect(forAdmin: !Common.CurrentUser.CompanyId.HasValue), "Seçiniz", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Açıklama </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(m => m.Note, new { @class = "form-control", placeholder = "Rol adresi" })
                    @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>