﻿.col-text {
    margin-top: 8px !important;
    padding-left: 0px !important;
}

.choice-table td {
    vertical-align: middle !important;
    text-align: center !important;
}

.table td {
    vertical-align: middle !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.has-notify .form-control {
    float: left;
    width: 80%;
}

.has-notify .btn {
    float: right;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .right_col {
        margin-left: 0px !important;
    }

    body, div {
        position: relative;
        -webkit-print-color-adjust: exact;
    }

    .page-break {
        page-break-before: always;
        page-break-inside: avoid;
        -webkit-region-break-inside: avoid;
        -webkit-region-break-before: always;
        position: relative;
    }
}
