﻿@model List<Survey>
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Core.Extensions;
@{
    ViewBag.Title = "İstatistikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bar-chart-o"></i>&nbsp;<b>İstatistik İçin Anket Listem</b></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width:100%;">Anket İsmi</th>
                    <th style="min-width: 120px;">Kullanım Tipi</th>
                    <th>Soru</th>
                    <th style="min-width: 100px;">Durum</th>
                    <th style="min-width: 150px;">Oluşturma Tarihi</th>
                    <th style="min-width: 170px; width:170px">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6">Henüz anket oluşturmadınız.</td>
                    </tr>
                }
                @foreach (Survey s in Model)
                {
                    <tr>
                        <td>@s.Name</td>
                        @*<td>@Common.GetSurveyTypeText(s.SurveyType)</td>*@
                        <td>@WebUtils.GetUsageTypeText(s.UsageType)</td>
                        <td>@s.QuestionCount</td>
                        <td>@(s.ActiveStatus == ActiveStatus.Active ? "Yayında" : "Yayında Değil")</td>
                        <td>@s.CreatedDate</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="~/Report/View/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="İstatiksel Rapor"><i class="fa fa-bar-chart-o"></i>&nbsp;Raporu Göster</a>
                                <a href="~/Report/ExportToExcell/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Raporu İndir"><i class="fa fa-download"></i>&nbsp;</a>
                                <a style="margin-left:5px" href="~/Report/GroupReport/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Grup Rapor"><i class="fa fa-users"></i>&nbsp;Grup Göster</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>