﻿@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Core.Extensions;
@{
    if (ViewBag.Status != null && ViewBag.Status.ToString() == "Finished")
    {
        ViewBag.Title = "Tamamlayan Katılımcı Listesi";
    }
    if (ViewBag.Status != null && ViewBag.Status.ToString() == "Started")
    {
        ViewBag.Title = "Devam Eden Katılımcı Listesi";
    }
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-group"></i>&nbsp;<b>@ViewBag.Title</b></h2>
        <div class="btn-group" style="float:right;">
            <a href="~/Report/View/@ViewBag.SurveyId" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>&nbsp;Geri Dön</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        @Html.Action("GetUserList", new { SurveyId = ViewBag.SurveyId, Status = ViewBag.Status })
    </div>
</div>