﻿@model Survey
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Core.Extensions;
@{
    ViewBag.Title = "Soru Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int joinCount = Model.Enrollments.Count;
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bar-chart-o"></i>&nbsp;<b>Soru Raporu : @Model.Name</b></h2>
        <div class="btn-group no-print" style="float:right;">
            <a href="~/Report/View/@Model.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>&nbsp;Geri Dön</a>
            <button class="btn btn btn-default btn-sm" onclick="window.print();">
                <i class="fa fa-print"></i>&nbsp;Yazdır
            </button>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @{
            int counter = 0;

            foreach (Question q in Model.Questions)
            {
                counter++;
                <div class="page-break">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:20px;">
                                <p><b>@counter.</b></p>
                            </td>
                            <td>
                                <p>
                                    @q.QuestionText
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table class="choice-stats" style="width:100%">
                        <tr class="hide">
                            <th style="width:140px;">
                                Cevap Dağılımı
                            </th>
                            <th style="width:100%;">
                                Seçenekler
                            </th>
                        </tr>
                        <tr>
                            <td style="width:140px;">
                                <canvas class="canvas" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                            </td>
                            <td>
                                <table class="tile_info">
                                    @{
                string[] colors = new string[] { "blue", "green", "purple", "red", "gray", "yellow", "fuchsia", "lime", "maroon", "navy", "olive", "orange", "silver", "teal", "white", "black" };
                int clr = 0;
                int queCount = Model.Answers.Where(a => a.QuestionId == q.QuestionId && (a.ChoiceId != null || !string.IsNullOrEmpty(a.ResponseText))).Select(a => a.AnswerId).Distinct().Count();
                double emptyPercent = joinCount > 0.0 ? ((joinCount - queCount) * 100) / (joinCount * 1.0) : 0.0; ;
                int emptyCount = joinCount > 0 ? joinCount - queCount : 0;
                                    }
                                    @foreach (Choice c in q.Choices)
                                    {
                                        double percent = joinCount > 0.0 ? (Model.Answers.Where(a => a.ChoiceId == c.ChoiceId && a.QuestionId == c.QuestionId).Select(a => a.AnswerId).Distinct().Count() * 100) / (joinCount * 1.0) : 0.0;
                                        int answerCount = Model.Answers.Where(a => a.ChoiceId == c.ChoiceId && a.QuestionId == c.QuestionId).Select(a => a.AnswerId).Distinct().Count();
                                        <tr>
                                            <td style="width:100%;">
                                                <p><i style="color: @colors[clr % colors.Count()];" class="fa fa-square"></i>@c.Text</p>
                                            </td>
                                            <td>@answerCount/@joinCount</td>
                                            <td>&nbsp;</td>
                                            <td>@(Math.Round(percent, 1))%</td>
                                            <td>
                                                <input type="hidden" class="c_text" value="@c.Text" />
                                                <input type="hidden" class="c_count" value="@answerCount + 1" />
                                            </td>
                                        </tr>
                                        clr++;
                                    }
                                    @if (q.QuestionType == QuestionType.OpenEnded)
                                    {
                                        double percent = joinCount > 0.0 ? (Model.Answers.Where(a => a.QuestionId == q.QuestionId && !string.IsNullOrEmpty(a.ResponseText)).Select(a => a.AnswerId).Distinct().Count() * 100) / (joinCount * 1.0) : 0.0;
                                        int answerCount = Model.Answers.Where(a => a.QuestionId == q.QuestionId & !string.IsNullOrEmpty(a.ResponseText)).Select(a => a.AnswerId).Distinct().Count();
                                        <tr>
                                            <td style="width:100%;">
                                                <p style="font-style:italic;"><i style="color: @colors[clr % colors.Count()];" class="fa fa-square"></i>Cevap verildi</p>
                                            </td>
                                            <td>@answerCount/@joinCount</td>
                                            <td>&nbsp;</td>
                                            <td>@(Math.Round(percent, 1))%</td>
                                            <td>
                                                <input type="hidden" class="c_text" value="Cevap verildi" />
                                                <input type="hidden" class="c_count" value="@answerCount" />
                                            </td>
                                        </tr>
                                        clr++;
                                    }
                                    @if (!q.IsRequired)
                                    {
                                        <tr>
                                            <td style="width:100%;">
                                                <p style="font-style:italic;"><i style="color: @colors[clr % colors.Count()];" class="fa fa-square"></i>Boş bırakıldı</p>
                                            </td>
                                            <td>@emptyCount/@joinCount</td>
                                            <td>&nbsp;</td>
                                            <td>@(Math.Round(emptyPercent, 1))%</td>
                                            <td>
                                                <input type="hidden" class="c_text" value="Boş bırakıldı" />
                                                <input type="hidden" class="c_count" value="@emptyCount" />
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var options = {
                legend: true,
                responsive: false
            };
            var _backgroundColor = ['blue', 'green', 'purple', 'red', 'gray', 'yellow', 'fuchsia', 'lime', 'maroon', 'navy', 'olive', 'orange', 'silver', 'teal', 'white', 'black'];
            //var _backgroundColor = ["#BDC3C7", "#9B59B6", "#E74C3C", "#26B99A", "#3498DB"];
            var _hoverBackgroundColor = ["#CFD4D8", "#B370CF", "#E95E4F", "#36CAAB", "#49A9EA", "#EEEEEE"];
            $(".choice-stats").each(function (index) {
                var $choice_canvas = $(this).find('.canvas')[0];
                var c_labels = [];
                var c_datas = [];
                $(this).find('.c_text').each(function () {
                    c_labels.push($(this).val());
                });
                $(this).find('.c_count').each(function () {
                    var value = parseInt($(this).val());
                    c_datas.push(value);
                });
                setTimeout(function () {
                    new Chart($choice_canvas, {
                        type: 'doughnut',
                        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                        data: {
                            labels: c_labels,
                            datasets: [{
                                data: c_datas,
                                backgroundColor: _backgroundColor,
                                hoverBackgroundColor: _backgroundColor
                            }]
                        },
                        options: options
                    });
                }, 1000);
            });
        });
    </script>
}