﻿@model SurveyReportModel
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Models.ViewModel;
@using Pollyfy.Core.Extensions;
@{
    ViewBag.Title = "İstatistik Raporu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bar-chart-o"></i>&nbsp;<b>İstatistik Raporu : @Model.Name</b></h2>
        <div class="btn-group" style="float:right;">
            <a href="~/Report" class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i>&nbsp;Geri Dön</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="tile-stats" href="~/Report/QuestionReport/@Model.SurveyId.GetIndirectRef(typeof(Survey))" data-toggle="tooltip" data-placement="top" title="" data-original-title="Soru İstatistiklerini Göster">
                <div class="icon"><i class="fa fa-question"></i></div>
                <div class="count">@Model.QuestionCount</div>
                <h3>Adet Soru</h3>
                <p>Kullanılan toplam soru sayısı</p>
            </a>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="~/Report/ParticipantReport/@Model.SurveyId.GetIndirectRef(typeof(Survey))?status=@EnrollmentStatus.Finished" class="tile-stats" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tamamlayanları Göster">
                <div class="icon"><i class="fa fa-check-square-o"></i></div>
                <div class="count">@Model.CompletedCount</div>
                <h3>Tamamlama</h3>
                <p>Tamamlayan katılımcı sayısı</p>
            </a>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="~/Report/ParticipantReport/@Model.SurveyId.GetIndirectRef(typeof(Survey))?status=@EnrollmentStatus.Started" class="tile-stats" data-toggle="tooltip" data-placement="top" title="" data-original-title="Devam Edenleri Göster">
                <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                <div class="count">@Model.ContinuedCount</div>
                <h3>Devam Ediyor</h3>
                <p>Devam eden katılımcı sayısı</p>
            </a>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="~/Report/ConstraintReport/@Model.SurveyId.GetIndirectRef(typeof(Survey))" class="tile-stats" data-toggle="tooltip" data-placement="top" title="" data-original-title="Katılımcı Kısıt Raporunu Göster">
                <div class="icon"><i class="fa fa-group"></i></div>
                <div class="count">@Model.CompletedCount</div>
                <h3>Toplam Katılım</h3>
                <p>Kısıt raporunu görüntüle</p>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Katılım Grafiği<small>Son bir aylık ilerleme</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="demo-container" style="height:280px">
                        <div id="placeholder33x" class="demo-placeholder"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_panel">
            <div class="x_title">
                <h2>Katılım Haritası<small>Konumu alınan katılımcılar</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="map" style="height:300px; width:100%;"></div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <!-- Flot -->
    <script>
    $(document).ready(function () {
        var chartColours = ['#96CA59', '#3F97EB', '#72c380', '#6f7a8a', '#f7cb38', '#5a8022', '#2c7282'];

        var d1 = [@String.Join(",", Model.ParticipationChartSeries.Select(m=> string.Format("[{0},{1}]",m.UnixDate*1000,m.Count)) )];
        var chartMinDate = @(Model.SerieStartUnixDate*1000);
        var chartMaxDate = @(Model.SerieEndUnixDate*1000);

            var tickSize = [1, "day"];
            var tformat = "%d/%m/%y";

            //graph options
            var options = {
                grid: {
                    show: true,
                    aboveData: true,
                    color: "#3f3f3f",
                    labelMargin: 10,
                    axisMargin: 0,
                    borderWidth: 0,
                    borderColor: null,
                    minBorderMargin: 5,
                    clickable: true,
                    hoverable: true,
                    autoHighlight: true,
                    mouseActiveRadius: 100
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        lineWidth: 2,
                        steps: false
                    },
                    points: {
                        show: true,
                        radius: 4.5,
                        symbol: "circle",
                        lineWidth: 3.0
                    }
                },
                legend: {
                    position: "ne",
                    margin: [0, -25],
                    noColumns: 0,
                    labelBoxBorderColor: null,
                    labelFormatter: function (label, series) {
                        // just add some space to labes
                        return label + '&nbsp;&nbsp;';
                    },
                    width: 40,
                    height: 1
                },
                colors: chartColours,
                shadowSize: 0,
                tooltip: true, //activate tooltip
                tooltipOpts: {
                    content: "%s: %y.0",
                    xDateFormat: "%d/%m",
                    shifts: {
                        x: -30,
                        y: -50
                    },
                    defaultTheme: false
                },
                yaxis: {
                    min: 0
                },
                xaxis: {
                    mode: "time",
                    minTickSize: tickSize,
                    timeformat: tformat,
                    min: chartMinDate,
                    max: chartMaxDate
                }
            };
            var plot = $.plot($("#placeholder33x"), [{
                label: "Katılım Sayısı",
                data: d1,
                lines: {
                    fillColor: "rgba(150, 202, 89, 0.12)"
                },
                points: {
                    fillColor: "#fff"
                }
            }], options);


        });
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: { lat: 40.73873407683247, lng: 30.46086609363556 },
                scrollwheel: true,
                mapTypeControl: false,
                streetViewControl: false
            });

            var coords = [ @String.Join(",", Model.ParticipatCoords.Select(c => "{ lat: " + c.Latitude + " , lng:" + c.Longitude + " }")) ];

            coords.forEach(function(item, index){
                var marker = new google.maps.Marker({
                    position: item,
                    map: map
                });
            });

        };
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe-xaHulnDJBly55KzcEpusXuPnOpvVKA&callback=initMap"></script>
    <!-- /Flot -->
}