﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
@*<meta http-equiv="refresh" content="0 ;url=http://www.pollyfy.com/index.html" />*@
    <title>Pollyfy</title>
    <link href="/Content/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

</body>
<script src="/Content/js/bootstrap.js"></script>
<script src="/Content/js/bootstrap.min.js"></script>
<script src="/Content/js/npm.js"></script>
<script src="/Content/js/jquery.min.js"></script>
<script src="/Content/js/jquery.core.js"></script>
<script src="/Content/js/jquery-ui-1.10.1.custom.min.js"></script>
</html>
