﻿@using DevExpress.Web.Mvc.UI;
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Pollyfy</title>
    <link rel="icon" href="~/favicon.png">
    <!-- Bootstrap -->
    <link href="~/Content/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/admin/nprogress/nprogress.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/Content/admin/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- jQuery custom content scroller -->
    <link href="~/Content/admin/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- PNotify -->
    <link href="~/Content/admin/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="~/Content/admin/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="~/Content/admin/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">

    <link href="~/Content/dx.common.min.css" rel="stylesheet" />
    <link href="~/Content/dx.light.min.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Content/admin/jquery/dist/jquery.min.js"></script>

    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/linq.min.js"></script>

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
        new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
        new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
    )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
        new Script { ExtensionSuite = ExtensionSuite.GridView },
        new Script { ExtensionSuite = ExtensionSuite.CardView },
        new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Chart },
        new Script { ExtensionSuite = ExtensionSuite.Report },
        new Script { ExtensionSuite = ExtensionSuite.Scheduler },
        new Script { ExtensionSuite = ExtensionSuite.TreeList },
        new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
        new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
    )

    @{
        List<string> Notifications = TempData["Notifications"] != null ? (List<string>)TempData["Notifications"] ?? new List<string>() : new List<string>();
    }
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed no-print">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><img width="40" height="40" style="margin-top:-5px; margin-left: 5px;" src="~/Content/images/logo_no_text.png" alt="Pollyfy"> <span>Pollyfy</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <br />
                    @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <p style="text-align: center;">&copy; @DateTime.Now.Year - Pollyfy / Bigcat</p>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav no-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/images/user.png" alt="">@Pollyfy.Web.Core.Common.CurrentUser.GetFullName()
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @*<li><a href="javascript:;"> Profil</a></li>
                                        <li><a href="javascript:;"> Ayarlar</a></li>
                                        <li><a href="javascript:;">Yardım</a></li>*@
                                    <li><a href="/User/Profile"><i class="fa fa-user pull-right"></i> Profil Bilgileri</a></li>
                                    <li><a href="/Account/Logout"><i class="fa fa-sign-out pull-right"></i> Oturumu Kapat</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @*<div class="">
                        <div class="page-title">
                            <div class="title_left">
                                <h3>@ViewBag.Title</h3>
                            </div>
                        </div>
                    </div><br /><br />*@
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer class="no-print">
                <div class="pull-right">
                    <p>&copy; @DateTime.Now.Year - Pollyfy</p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <script src="~/Scripts/String.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/admin/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/admin/nprogress/nprogress.js"></script>
    <!-- jQuery custom content scroller -->
    <script src="~/Content/admin/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jQuery Smart Wizard -->
    <script src="~/Content/admin/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
    <!-- Select2 -->
    <script src="~/Content/admin/select2/dist/js/select2.full.min.js"></script>
    <!-- Chart.js -->
    <script src="~/Content/admin/Chart.js/dist/Chart.min.js"></script>
    <!-- PNotify -->
    <script src="~/Content/admin/pnotify/dist/pnotify.js"></script>
    <script src="~/Content/admin/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/Content/admin/pnotify/dist/pnotify.nonblock.js"></script>
    <!-- Flot -->
    <script src="~/Content/admin/Flot/jquery.flot.js"></script>
    <script src="~/Content/admin/Flot/jquery.flot.pie.js"></script>
    <script src="~/Content/admin/Flot/jquery.flot.time.js"></script>
    <script src="~/Content/admin/Flot/jquery.flot.stack.js"></script>
    <script src="~/Content/admin/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Content/admin/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Content/admin/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Content/admin/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Content/admin/DateJS/build/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/admin/moment/moment.min.js"></script>
    <script src="~/Content/admin/datepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Scripts/app/file_uploader.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            @Html.Raw(string.Join(" ",Notifications))
            var $uploadBtn = $('#UploadControl_Upload a');
            $uploadBtn.addClass('btn btn-primary');
        });

        function CustomButtonClick(s, e, url, url1, url2) {
            var key = s.GetRowKey(e.visibleIndex);
            console.log("Key Value is " + key);
            console.log("Url values is" + url);
            var destUrl = null;
            if (e.buttonID === "btnCancelActive") {
                destUrl = url + "/" + key;
                window.location.href = destUrl;
            }
            else if (e.buttonID === "btnAttachContractActive") {
                destUrl = url1 + "/" + key;
                window.location.href = destUrl;
            }

            else if (e.buttonID === "btnAttachContractActive") {
                destUrl = url2 + "/" + key;
                window.location.href = destUrl;
            }
        }

    </script>
    <!-- Custom Notification -->
    <script>
        $(document).ready(function () {
            var cnt = 10;

            TabbedNotification = function (options) {
                var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title +
                  "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

                if (!document.getElementById('custom_notifications')) {
                    alert('doesnt exists');
                } else {
                    $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
                    $('#custom_notifications #notif-group').append(message);
                    cnt++;
                    CustomTabs(options);
                }
            };

            CustomTabs = function (options) {
                $('.tabbed_notifications > div').hide();
                $('.tabbed_notifications > div:first-of-type').show();
                $('#custom_notifications').removeClass('dsp_none');
                $('.notifications a').click(function (e) {
                    e.preventDefault();
                    var $this = $(this),
                      tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
                      others = $this.closest('li').siblings().children('a'),
                      target = $this.attr('href');
                    others.removeClass('active');
                    $this.addClass('active');
                    $(tabbed_notifications).children('div').hide();
                    $(target).show();
                });
            };

            CustomTabs();

            var tabid = idname = '';

            $(document).on('click', '.notification_close', function (e) {
                idname = $(this).parent().parent().attr("id");
                tabid = idname.substr(-2);
                $('#ntf' + tabid).remove();
                $('#ntlink' + tabid).parent().remove();
                $('.notifications a').first().addClass('active');
                $('#notif-group div').first().css('display', 'block');
            });

            setTimeout(common.Ping, 1000);
            setInterval(common.Ping, 180000);
            common.Init();
        });
    </script>
    <!-- /Custom Notification -->
    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>
</body>

</html>