﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}

<html>

<head>
    <title>
        Pollyfy Survey
    </title>
      <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/icheck/flat/green.css" rel="stylesheet">


    <script src="/js/jquery.min.js"></script>
</head>
<body>
 <div class="">
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>

        <div id="wrapper">
            <div id="login" class="animate form">
                <section class="login_content">
                    <form>
                         <h4 class="page-head-line ">Lütfen Giriş Yapınız</h4>
                        <div>
                            <input type="text" class="form-control" placeholder="E-mail" required />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Şifre" required />
                        </div>
                        <div class="checkbox">
                                  @*  <label>
                                        <input type="checkbox"> 
                                        Beni Hatırla</label>*@</div>
                        <div>
                        <a href="index.html" class="btn btn-info"> <span class="glyphicon glyphicon-user "></span> &nbsp;Giriş Yap</a> 
                            <a href="#toregister" class="btn btn-info"> <span class="glyphicon glyphicon-user "></span> &nbsp;Üye Ol</a> 
                        </div>
                        
                     
                        <div class="clearfix"></div>
                        <div class="separator">

                            <p class="change_link">
                                <a href="#toregister" class="to_register"> Şifremi unuttum? </a>
                            </p>
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i style="font-size: 26px;"></i> Pollyfy INC.</h1>

                                <p>©2016 Tüm Hakları Saklıdır.</p>
                            </div>
                        </div>
                    </form>
                    <!-- form -->
                </section>
                <!-- content -->
            </div>
            <div id="register" class="animate form">
                <section class="login_content">
                    <form>
                        <h1>Üye Ol</h1>
                        <div>
                           <input type="text" class="form-control" id="firma-ad" placeholder="Firma Adı">
                        </div>
                        <div>
                              <input type="text" class="form-control" id="sektor" placeholder="Sektör">
                        </div>
                        <div>
                          <input type="text" class="form-control" id="ad-soyad" placeholder="Adınız Soyadınız">
                        </div>
                          <div>
                         <input type="text" class="form-control" id="email" placeholder="Emailiniz">
                        </div>
                     <div>
                        <input type="password" class="form-control" id="sifre" placeholder="Şifreniz">
                        </div>
                        <div>
                    <input type="text" class="form-control" id="telefon" placeholder="Telefon numaranız">
                        </div>
       
                        <div>
                       <a href="index.html" class="btn btn-info"> <span class="glyphicon glyphicon-user "></span> &nbsp;Üye Ol</a> 
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i style="font-size: 26px;"></i> Pollyfy INC.</h1>

                                <p>©2016 All Rights Reserved.</p>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- content -->
            </div>
        </div>
    </div>
</body>
</html>