﻿@model Pollyfy.Models.User
@using Pollyfy.Web.Core;
@using Pollyfy.Core.Extensions;
@using Pollyfy.Models;
@{
    ViewBag.Title = "Çoklu Kulanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string excelLink = null;
    if (Session["ExcelDosyaYolu"] != null)
    {
        excelLink = Session["ExcelDosyaYolu"].ToString();
        Session["ExcelDosyaYolu"] = null;
    }


}
@section scripts{
    <script>
        file_uploader.init(true, function (container) {
            console.log(container);
            $('#fOwnerType').val(container.OwnerType);
            $('#fFileName').val(container.FileName);
            $('#fFileType').val(container.FileType);
        });

    </script>
}
<script>
    $("excelSablon").hide();
    var text = null;
    var tabloadi = null;
    var kisit = null;
    function KısıtEkle() {
        if (document.getElementById("myCheck").checked == true)
        {
            if (kisit == null) {
                kisit = document.getElementById("kisitlar").value;
                document.getElementById("Kisitlar").innerHTML = kisit;
            }
            else if (kisit != null) {
                kisit = document.getElementById("kisitlar").value;
                document.getElementById("Kisitlar").innerHTML += "," + kisit;
            }
        }
        else
        {
            if (text == null) {
                text = document.getElementById("kisitlar").value;
                document.getElementById("KullaniciOzellikleri").innerHTML = text;
            }
            else if (text != null) {
                text = document.getElementById("kisitlar").value;
                document.getElementById("KullaniciOzellikleri").innerHTML += "," + text;
            }
        }
    }
    function Send(){
        var val = document.getElementById("KullaniciOzellikleri").innerHTML;
        tabloadi = document.getElementById("tabloadi").value;
        var kisitlar = document.getElementById("Kisitlar").innerHTML;
        $.ajax({
            type: "POST",
            url: "@Url.Action("SqlTemplateAdd", "User")",
            data: JSON.stringify({
                'function_param': val,
                'TabloAdi': tabloadi,
                'DemografikBilgiler': kisitlar
            }),
            contentType: "application/json; charset=utf-8;",
            success: function (response) {
                if (response.success) {
                    alert(response.responseText);
                    $("#excelSablon").append(
                       " <div class='col-md-12 col-sm-12 col-xs-12'><p style='text-align:center;'>Veri eklemek için şablonu indirin ve doldurun!<br /> Daha sonra sisteme yükleyin!<br /><br /><a href=" + response.excelLinki + " class='btn btn-primary btn-sm'><i class='fa fa-download'></i>&nbsp;Şablonu indir</a></p></div>");
                    $("excelSablon").show();
                } else {
                    // DoSomethingElse()
                    alert(response.responseText);
                }
            },
            error: function (response) {
                alert("error!");  //
            }
    });
    }
</script>
<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-group"></i>&nbsp;<b>Toplu Kullanıcı Ekle</b></h2>
            <div class="btn-group" style="float:right;">
                <a href="~/User" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Tüm Kullanıcılar</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <div class="form-horizontal form-label-left">
                <div class="form-group" id="excelSablon">

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12">Dosya *</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        @Html.Partial("~/Views/File/_UploadContainer.cshtml", Model.ImportFileContainer)
                    </div>
                </div>
                @using (Html.BeginForm("ImportUser", "User", FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Tablo İsmi *</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select name="Tablolar" class="form-control" style="height:35px;width:220px">
                                @foreach (var item in ViewBag.TabloIsimleri)
                                {
                                    <option>@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="fOwnerType" name="OwnerType" value="" />
                        <input type="hidden" id="fFileName" name="FileName" value="" />
                        <input type="hidden" id="fFileType" name="FileType" value="" />
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <input type="submit" class="btn btn-success pull-right" value="Verileri Aktar">
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


