﻿@model Pollyfy.Models.User
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script>
        file_uploader.init(true, function (container) {
            console.log(container);
            $('#fOwnerType').val(container.OwnerType);
            $('#fFileName').val(container.FileName);
            $('#fFileType').val(container.FileType);
        });

    </script>
}
<div class="row">


    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-user"></i>&nbsp;<b>Yeni Kullanıcı</b></h2>
                @*<div class="btn-group" style="float:right;">
                        <a href="~/User" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Tüm Kullanıcılar</a>
                    </div>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @if (ViewBag.InsertIsSuccess != null && ViewBag.InsertIsSuccess)
                {
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="alert alert-success  alert-dismissible fade in" role="alert">
                                    Kullanıcı ekleme işlemi başarıyla tamamlandı!
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (ViewBag.IsValid != null && !ViewBag.IsValid)
                {
                    <div class="x_content">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="alert alert-danger  alert-dismissible fade in" role="alert">
                                    @Html.ValidationSummary()
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <form action="/User/New" class="form-horizontal form-label-left" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Ad * </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Adınızı giriniz" })
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Soyad * </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Soyadınızı giriniz." })
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">E-Posta * </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-posta adresi" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Şifre *</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Giriş şifresi" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (!Common.CurrentUser.CompanyId.HasValue)
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Şirket</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownListFor(m => m.CompanyId, Common.GetCompanySelectList(), "Şirket Seçiniz", new { @class = "form-control" })
                                @if (ViewBag.IsValid != null && !ViewBag.IsValid)
                                {
                                    @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.Hidden("CompanyId", Common.CurrentUser.CompanyId.Value)
                    }
                    @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tekrar Şifre *</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Giriş şifresi tekrar" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kullanıcı Tipi * </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.DropDownListFor(m => m.Types, WebUtils.GetUserTypeSelect(forAdmin: !Common.CurrentUser.CompanyId.HasValue), "Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Types, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Durum * </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.DropDownListFor(m => m.ActiveStatus, WebUtils.GetStatusSelect(), "Seçiniz", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ActiveStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Kimlik No</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(m => m.IdentityNumber, new { @class = "form-control", placeholder = "Kimlik numarası giriniz." })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Telefon</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Telefon numarası giriniz." })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cinsiyet </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.DropDownListFor(m => m.Gender, WebUtils.GetGenderSelect(), "Seçiniz", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Firma adresi" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Not </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", placeholder = "Varsa not düşün" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-group"></i>&nbsp;<b>Toplu Kullanıcı Ekle</b></h2>
                <div class="btn-group" style="float:right;">
                    <a href="~/User" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Tüm Kullanıcılar</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <div class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p style="text-align:center;">
                                Toplu kullanıcı eklemek içi şablonu indirin ve doldurun!<br />
                                Daha sonra sisteme yükleyin!<br /><br />
                                <a href="~/Files/Import/Pollyfy_Import_Users.xlsx" class="btn btn-primary btn-sm">
                                    <i class="fa fa-download"></i>&nbsp;Şablonu indir
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12">Dosya *</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @Html.Partial("~/Views/File/_UploadContainer.cshtml", Model.ImportFileContainer)
                        </div>
                    </div>
                    @using (Html.BeginForm("ImportUser", "User", FormMethod.Post))
                    {
                        if (!Common.CurrentUser.CompanyId.HasValue)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2 col-sm-3 col-xs-12">Şirket *</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    @Html.DropDownList("CompanyId", Common.GetCompanySelectList(), "Şirket Seçiniz", new { @class = "form-control" })
                                    @Html.ValidationMessage("FileCompanyId", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.Hidden("CompanyId", Common.CurrentUser.CompanyId.Value)
                        }
                        <div class="form-group">
                            <input type="hidden" id="fOwnerType" name="OwnerType" value="" />
                            <input type="hidden" id="fFileName" name="FileName" value="" />
                            <input type="hidden" id="fFileType" name="FileType" value="" />
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i>&nbsp;Kullanıcıları Aktar</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>