﻿@model Pollyfy.Models.User
@using Pollyfy.Web.Core;
@using Pollyfy.Core.Extensions;
@using Pollyfy.Models;
@{
    ViewBag.Title = "Bilgilerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-edit"></i>&nbsp;<b>Bilgilerim</b></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        @if (ViewBag.UpdateIsSuccess != null && ViewBag.UpdateIsSuccess)
        {
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-success  alert-dismissible fade in" role="alert">
                            Güncelleme işlemi başarıyla tamamlandı!
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (!ViewBag.IsValid)
        {
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="alert alert-danger  alert-dismissible fade in" role="alert">
                            @Html.ValidationSummary()
                        </div>
                    </div>
                </div>
            </div>
        }
        <form class="form-horizontal form-label-left" method="post">
            <input type="hidden" name="UserIdRef" value="@Model.UserId.GetIndirectRef(typeof(User))" />
            <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
            <input type="hidden" name="Types" value="@Model.Types" />
            <input type="hidden" name="ActiveStatus" value="@Model.ActiveStatus" />
            <input type="hidden" name="OldPassword" value="@Model.Password" />
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Ad * </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Adınızı giriniz" })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Soyad * </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Soyadınızı giriniz." })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">E-Posta * </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-posta adresi" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Yeni Şifre *</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.Password("Password", Model.Password, new { @class = "form-control", placeholder = "Giriş şifresi" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Tekrar Yeni Şifre *</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.Password("RePassword", Model.Password, new { @class = "form-control", placeholder = "Giriş şifresi tekrar" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Kimlik No</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.IdentityNumber, new { @class = "form-control", placeholder = "Kimlik numarası giriniz." })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Telefon</label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Telefon numarası giriniz." })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Cinsiyet </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(m => m.Gender, WebUtils.GetGenderSelect(), "Seçiniz", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-sm-3 col-xs-12">Address </label>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", placeholder = "Firma adresi" })
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>

