﻿@model IEnumerable<Pollyfy.Models.ViewModel.ConstraintsModel>
@using Pollyfy.Web.Core;
@using Pollyfy.Core.Extensions;
@using Pollyfy.Models;
@using Pollyfy.Models.ViewModel;
@{
    ViewBag.Title = "Kısıt Belirle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var TableName = ViewBag.TableName;
    var Kisitlar = ViewBag.Kisitlar;

}
@*<script>
    function SendTablename() {
        var tableName = $('#Tablename :selected').text();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetByConstraint", "Survey")",
            data: JSON.stringify({
                'Tablename': tableName
            }),
            contentType: "application/json; charset=utf-8;"
        });
    }
</script>*@
<script>
        $(document).ready(function () {
            common.InitInlineNotify();
            $('#wizard').smartWizard({
                keyNavigation: false
            });
            $('.stepContainer').css('height', '100%');
            if ($('.btnnFinishAndAddQue').length == 0)
                $('.actionBar').prepend('<a href="#" class="btnnFinishAndAddQue buttonEnable visible ="false" btn btn-default"></a>');

            $('.buttonNext').addClass('btn btn-success pull-right').html('Sonraki').click(function () { PrepareSelect2(); });
            $('.buttonPrevious').addClass('btn btn-primary').html('Önceki').click(function () { PrepareSelect2(); });
            $('.buttonFinish').addClass('btn btn-default').html('Kaydet');
            $('.btnnFinishAndAddQue').click(function () {
                $('#MoveQuestions').val('true');
                $('.buttonFinish').trigger('click');
            });
            $('.wizard_steps a').click(function () { PrepareSelect2(); });
            PrepareSelect2();

            PrepareHiddenFields();
            $("#UsageType").change(function () {
                var usageType = $(this).val();
                PrepareHiddenFields();
            });

            $('#UseAccuracy').click(function () {
                if (this.checked)
                    $('.accuracy-limit').slideDown();
                else
                    $('.accuracy-limit').slideUp();
            });
            common.InitDatePicker('.date-picker');
        });
        var PrepareHiddenFields = function () {
            var usageType = $("#UsageType").val();
            $(".usage-limit").each(function (index, item) {
                if (!$(item).hasClass('usage-' + usageType))
                    $(item).slideUp();
                if ($(item).hasClass('usage-' + usageType))
                    $(item).slideDown();
            });
            if (document.getElementById("UseAccuracy").checked && (usageType == '2' || usageType == '3' || usageType == '4' || usageType == '5' || usageType == '6'))
                $('.accuracy-limit').show();
            else
                $('.accuracy-limit').hide();
        }
        var PrepareSelect2 = function () {
            $('.stepContainer').css('height', '100%');
            $('#MoveQuestions').val('false');
            setTimeout(function () {
                $(".select2_multiple").select2({
                    placeholder: "Kısıt yok",
                    allowClear: true
                });
                $(".select2_scope").select2({
                    placeholder: "Tüm Türkiye",
                    allowClear: true
                });
                FillAllFields();
                if ($('.buttonFinish').hasClass('buttonDisabled'))
                    $('.btnnFinishAndAddQue').addClass('buttonDisabled');
                else
                    $('.btnnFinishAndAddQue').removeClass('buttonDisabled');
            }, 300);
        };
        var FillAllFields = function () {
            $('.s_name').html($('#Name').val());
            $('.s_quecount').html($('#QuestionCount').val());
            $('.s_specialNumber').html($('#SpecialNumber').val());
           // $('.s_type').html($('#SurveyType option:selected').text());
            //zencefil
            //$('.s_sector').html($('#SectorId option:selected').text());
          //  $('.s_limit').html($('#JoinLimit').val());

            var scopes = [];
            var data = $("#FormScopes").select2('data');

            for (var i = 0; i < data.length; i++) {
                scopes.push(data[i].text);
            }
            if (data.length == 0)
                scopes.push('Tüm Türkiye');

            $('.s_scope').html(scopes.join(', '));

            var $user_const = $('.user_const');
            $user_const.html('');
            $('.user_const').html('');

            $('.constraint').each(function (i, el) {
                var title = $('.const_' + i + ' label').html();
                var consts = [];
                var data = $('.const_' + i + ' .select2_multiple:first').select2('data');
                for (var i = 0; i < data.length; i++) {
                    consts.push(data[i].text);
                }
                if (data.length == 0) consts.push('Kısıt yok');
                $user_const.append('<tr><td><label>' + title + '</label></td><td style="text-align:right;">:</td><td style="width:80%;">' + consts.join(', ') + '</td></tr>');
            });
        };

        var selectedUserIds = [];
        function OnSelectionChanged(s, e) {
            s.GetSelectedFieldValues("UserId", GetSelectedFieldValuesCallback);
        }
        function GetSelectedFieldValuesCallback(values) {
            if (values)
                selectedUserIds = values;
        }
        function OnUserSelectComplete(s, e) {
            $('#FormUsers').val(selectedUserIds.join(','));
            $('.surveyUserCount').html(selectedUserIds.length);
        }
        file_uploader.init(true, function (container) {
            console.log(container);
            $('#fOwnerType').val(container.OwnerType);
            $('#fFileName').val(container.FileName);
            $('#FileName').val(container.FileName);
            $('#fFileType').val(container.FileType);
        });
        var fillPromos = function () {
            var frmPromo = $('#frmPromo');
            frmPromo.validate({
                ignore: []
            });
            if (frmPromo.valid()) {
                $('#promoStatus').html("Kampanya dosyası yüklendi!");
                $('#CurrentPromotion').val(JSON.stringify(frmPromo.serializeObject()));
                $('.modal').modal('hide');
            }
        };
        var removeGroup = function (el) {
            var count = $('.group-table tbody tr:visible').length;
            if (count > 0) {
                var $row = $(el).parent().parent();
                $row.find('.active-status:first').val('-1');
                $row.hide();
                $('.group-table tbody tr .rownumber:visible').each(function (index, el) {
                    $(el).html(index + 1);
                });
            }
            else
                common.Notify('Grouplar', 'Silindi..', 'info');
        };
        var addGroup = function () {
            $('.group-alert').hide();
            $('.group-table').show();
            var count = $('.group-table tbody tr').length;
            var content = $('.ref-table tbody tr:first').html();
            content = String.format(content, count);
            $('.group-table tbody').append('<tr>' + content + '</tr>');
            $('.group-table tbody tr .rownumber:visible').each(function (index, el) {
                $(el).html(index + 1);
            });
        };
</script>

    
    <div class="x_panel">
        <div class="form-horizontal form-label-left">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Kullanacağınız Tabloyu Seçiniz:</label>
            @using (Html.BeginForm("ConstaintsAdd", "Survey", FormMethod.Post))
            {
            <div class="form-group constraint const_">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownList("Tablename", new SelectList(TableName), new { @class = "select2_multiple form-control col-md-7 col-xs-12", id = "Tablename" })<br />
                    <input type="submit" class="btn btn-primary" value="Demografik bilgileri oluştur">
                    <input type="hidden"  value="@ViewBag.Id"/>
                </div>
            </div>
            }
            @using (Html.BeginForm("SelectEmail", "Survey", FormMethod.Post))
            {

                if (Session["kisitlar"] != null)
                {
                    int sayac = 0;
                    foreach (var cons in Model)
                    {
                        <div class="form-group constraint const_@sayac">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@cons.Consname</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList(cons.Consname.ToString(), new SelectList(cons.Consvalue), new { @class = "select2_multiple form-control col-md-7 col-xs-12", multiple = "multiple" })<br />
                           @*@Html.ListBox(sayac.ToString(), new SelectList(cons.Consvalue), new { @class = "select2_multiple form-control col-md-7 col-xs-12", multiple = "multiple" })*@
                           
                            </div>
                        </div>
                        sayac++;

                    }
                }
                <input type="submit" value="Kısıtları Gönder."/>
                <a href="@Url.Action("MailPage","Survey")">İleri</a>
            }

        </div>
    </div>



<script src="~/Scripts/app/surveyEdit.js"></script>
<script src="~/Scripts/app/baseQuery.js"></script>
