﻿@model List<Survey>
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Core.Extensions;
@{
    ViewBag.Title = "Anketlerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-edit"></i>&nbsp;<b>Anketlerim</b></h2>
        <div class="btn-group" style="float:right;">
            <a href="~/Survey/New" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Yeni Anket</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width:100%;">Anket İsmi</th>
                    <th style="min-width: 120px;">Kullanım Tipi</th>
                    <th>Soru</th>
                    <th style="min-width: 150px;">Durum</th>
                    <th style="min-width: 150px;">Oluşturma Tarihi</th>
                    <th style="min-width: 185px; width:185px">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6">Henüz anket oluşturmadınız.</td>
                    </tr>
                }
                @foreach (Survey s in Model)
                {
                    <tr>
                        <td>@s.Name</td>
                        @*<td>@Common.GetSurveyTypeText(s.SurveyType)</td>*@
                        <td>@WebUtils.GetUsageTypeText(s.UsageType)</td>
                        <td>@s.QuestionCount</td>
                        @*<td>@(s.ActiveStatus == ActiveStatus.Active ? "Yayında" : "Yayında Değil")</td>*@
                        <td style="@(s.PublishStatus == PublishStatus.WaitingApproval ? "color:red;":"")">
                            @if (s.PublishStatus == PublishStatus.ApprovalDenied && !string.IsNullOrEmpty(s.StatusText))
                            {
                                <b class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="@s.StatusText">
                                    @WebUtils.GetPublishStatusText(s.PublishStatus)
                                    <i class="fa fa-warning"></i>
                                </b>
                            }
                            else
                            {
                                @WebUtils.GetPublishStatusText(s.PublishStatus)
                            }
                        </td>
                        <td>@s.CreatedDate</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a href="~/Survey/Questions/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Anket Soruları"><i class="fa fa-question-circle"></i></a>
                                <a href="~/Survey/Edit/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Düzenle"><i class="fa fa-edit"></i></a>
                                @if (s.ActiveStatus == ActiveStatus.Active && s.PublishStatus == PublishStatus.Published)
                                {
                                    <a href="~/Survey/PublishToggle/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Yayından Kaldır"><i class="fa fa-toggle-on"></i></a>
                                }
                                else if (Common.CurrentUser.Types == UserType.SystemAdmin && s.PublishStatus == PublishStatus.WaitingApproval)
                                {
                                    <button class="btn btn-success btn-sm btn-publish" data-surveyid="@s.SurveyId.GetIndirectRef(typeof(Survey))" data-toggle="modal" data-target=".survey-publish-modal"><i class="fa fa-check-square"></i></button>
                                }
                                else
                                {
                                    <a href="~/Survey/PublishToggle/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Yayına Al"><i class="fa fa-toggle-off"></i></a>
                                }
                                <a href="~/Survey/Preview/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Önizle"><i class="fa fa-eye"></i></a>
                                <a href="~/Survey/Delete/@s.SurveyId.GetIndirectRef(typeof(Survey))" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sil"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade survey-publish-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Anketi Yayınlama Onayı</h4>
            </div>
            <div class="modal-body">
                <form id="frm-publish" method="post" action="~/Survey/PublishStatusUpdate">
                    <b>Durum Mesajı:</b>
                    <textarea name="status" style="height:150px; width:100%;" placeholder="Anket kabul veya red nedenini belirtebilirsiniz."></textarea>
                    <input type="hidden" id="surveyId" name="surveyId" value="" />
                    <input type="hidden" id="publish" name="publish" value="0" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-reject" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Reddet!</button>
                <button type="button" class="btn btn-primary btn-approve" data-dismiss="modal"><i class="fa fa-check"></i>&nbsp;Onayla!</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.btn-publish').click(function () {
                $('#surveyId').val($(this).data("surveyid"));
            });
            $('.btn-approve').click(function () {
                $('#publish').val(1);
                $('#frm-publish').submit();
            });
            $('.btn-reject').click(function () {
                $('#publish').val(0);
                $('#frm-publish').submit();
            });
        });
    </script>
}
