﻿@model Pollyfy.Models.Survey
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@using Pollyfy.Models.ViewModel;
@{
    ViewBag.Title = "Yeni Anket Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<HelperCategory> SurveyConstraints = (List<HelperCategory>)ViewBag.SurveyConstraints;
}

@section scripts{
    <!-- jQuery Smart Wizard -->
    <script>
        $(document).ready(function () {
            common.InitInlineNotify();
            $('#wizard').smartWizard({
                keyNavigation: false
            });
            $('.stepContainer').css('height', '100%');
            if ($('.btnnFinishAndAddQue').length == 0)
                $('.actionBar').prepend('<a href="#" class="btnnFinishAndAddQue buttonEnable visible ="false" btn btn-default"></a>');

            $('.buttonNext').addClass('btn btn-success pull-right').html('Sonraki').click(function () { PrepareSelect2(); });
            $('.buttonPrevious').addClass('btn btn-primary').html('Önceki').click(function () { PrepareSelect2(); });
            $('.buttonFinish').addClass('btn btn-default').html('Kaydet');
            $('.btnnFinishAndAddQue').click(function () {
                $('#MoveQuestions').val('true');
                $('.buttonFinish').trigger('click');
            });
            $('.wizard_steps a').click(function () { PrepareSelect2(); });
            PrepareSelect2();

            PrepareHiddenFields();
            $("#UsageType").change(function () {
                var usageType = $(this).val();
                PrepareHiddenFields();
            });

            $('#UseAccuracy').click(function () {
                if (this.checked)
                    $('.accuracy-limit').slideDown();
                else
                    $('.accuracy-limit').slideUp();
            });
            common.InitDatePicker('.date-picker');
        });
        var PrepareHiddenFields = function () {
            var usageType = $("#UsageType").val();
            $(".usage-limit").each(function (index, item) {
                if (!$(item).hasClass('usage-' + usageType))
                    $(item).slideUp();
                if ($(item).hasClass('usage-' + usageType))
                    $(item).slideDown();
            });
            if (document.getElementById("UseAccuracy").checked && (usageType == '2' || usageType == '3' || usageType == '4' || usageType == '5' || usageType == '6'))
                $('.accuracy-limit').show();
            else
                $('.accuracy-limit').hide();
        }
        var PrepareSelect2 = function () {
            $('.stepContainer').css('height', '100%');
            $('#MoveQuestions').val('false');
            setTimeout(function () {
                $(".select2_multiple").select2({
                    placeholder: "Kısıt yok",
                    allowClear: true
                });
                $(".select2_scope").select2({
                    placeholder: "Tüm Türkiye",
                    allowClear: true
                });
                FillAllFields();
                if ($('.buttonFinish').hasClass('buttonDisabled'))
                    $('.btnnFinishAndAddQue').addClass('buttonDisabled');
                else
                    $('.btnnFinishAndAddQue').removeClass('buttonDisabled');
            }, 300);
        };
        var FillAllFields = function () {
            $('.s_name').html($('#Name').val());
            $('.s_quecount').html($('#QuestionCount').val());
            $('.s_specialNumber').html($('#SpecialNumber').val());
           // $('.s_type').html($('#SurveyType option:selected').text());
            //zencefil
            //$('.s_sector').html($('#SectorId option:selected').text());
          //  $('.s_limit').html($('#JoinLimit').val());

            var scopes = [];
            var data = $("#FormScopes").select2('data');

            for (var i = 0; i < data.length; i++) {
                scopes.push(data[i].text);
            }
            if (data.length == 0)
                scopes.push('Tüm Türkiye');

            $('.s_scope').html(scopes.join(', '));

            var $user_const = $('.user_const');
            $user_const.html('');
            $('.user_const').html('');

            $('.constraint').each(function (i, el) {
                var title = $('.const_' + i + ' label').html();
                var consts = [];
                var data = $('.const_' + i + ' .select2_multiple:first').select2('data');
                for (var i = 0; i < data.length; i++) {
                    consts.push(data[i].text);
                }
                if (data.length == 0) consts.push('Kısıt yok');
                $user_const.append('<tr><td><label>' + title + '</label></td><td style="text-align:right;">:</td><td style="width:80%;">' + consts.join(', ') + '</td></tr>');
            });
        };

        var selectedUserIds = [];
        function OnSelectionChanged(s, e) {
            s.GetSelectedFieldValues("UserId", GetSelectedFieldValuesCallback);
        }
        function GetSelectedFieldValuesCallback(values) {
            if (values)
                selectedUserIds = values;
        }
        function OnUserSelectComplete(s, e) {
            $('#FormUsers').val(selectedUserIds.join(','));
            $('.surveyUserCount').html(selectedUserIds.length);
        }
        file_uploader.init(true, function (container) {
            console.log(container);
            $('#fOwnerType').val(container.OwnerType);
            $('#fFileName').val(container.FileName);
            $('#FileName').val(container.FileName);
            $('#fFileType').val(container.FileType);
        });
        var fillPromos = function () {
            var frmPromo = $('#frmPromo');
            frmPromo.validate({
                ignore: []
            });
            if (frmPromo.valid()) {
                $('#promoStatus').html("Kampanya dosyası yüklendi!");
                $('#CurrentPromotion').val(JSON.stringify(frmPromo.serializeObject()));
                $('.modal').modal('hide');
            }
        };
        var removeGroup = function (el) {
            var count = $('.group-table tbody tr:visible').length;
            if (count > 0) {
                var $row = $(el).parent().parent();
                $row.find('.active-status:first').val('-1');
                $row.hide();
                $('.group-table tbody tr .rownumber:visible').each(function (index, el) {
                    $(el).html(index + 1);
                });
            }
            else
                common.Notify('Grouplar', 'Silindi..', 'info');
        };
        var addGroup = function () {
            $('.group-alert').hide();
            $('.group-table').show();
            var count = $('.group-table tbody tr').length;
            var content = $('.ref-table tbody tr:first').html();
            content = String.format(content, count);
            $('.group-table tbody').append('<tr>' + content + '</tr>');
            $('.group-table tbody tr .rownumber:visible').each(function (index, el) {
                $(el).html(index + 1);
            });
        };
    </script>
    <!-- /jQuery Smart Wizard -->
}
<form method="post">

    <input type="hidden" id="MoveQuestions" name="MoveQuestions" value="false" />
    @Html.HiddenFor(m => m.PublishStatus)
    @Html.HiddenFor(m => m.StatusText)
    @Html.HiddenFor(m => m.ActiveStatus)

    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-plus"></i>&nbsp;<b>Yeni Anket</b></h2>
            <div class="btn-group" style="float:right;">
                <a href="~/Survey" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Anketlerim</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            @if (ViewBag.InsertIsSuccess != null && ViewBag.InsertIsSuccess)
            {
                <div class="x_content">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="alert alert-success  alert-dismissible fade in" role="alert">
                                <i class="fa fa-check"></i>&nbsp;
                                Anket ekleme işlemi başarıyla tamamlandı!
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (ViewBag.InsertIsSuccess != null && !ViewBag.InsertIsSuccess)
            {
                <div class="x_content">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="alert alert-danger  alert-dismissible fade in" role="alert">
                                <i class="fa fa-warning"></i>&nbsp;
                                Anket ekleme işlemi başarısız!
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (ViewBag.IsValid != null && !ViewBag.IsValid)
            {
                <div class="x_content">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-12"></label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="alert alert-danger  alert-dismissible fade in" role="alert">
                                @Html.ValidationSummary()
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Smart Wizard -->
            <div id="wizard" class="form_wizard wizard_horizontal">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1">
                            <span class="step_no">1</span>
                            <span class="step_descr">&nbsp;Genel Bilgiler</span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2">
                            <span class="step_no">2</span>
                            <span class="step_descr">&nbsp;Açıklamalar</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="#step-3">
                            <span class="step_no">3</span>
                            <span class="step_descr">&nbsp;Katılımcı Kısıtlama</span>
                        </a>
                    </li>*@
                    @*<li>
                        <a href="#step-4">
                            <span class="step_no">4</span>
                            <span class="step_descr">&nbsp;Değerlendirme</span>
                        </a>
                    </li>*@
                    <li>
                        <a href="#step-5">
                            <span class="step_no">3</span>
                            <span class="step_descr">&nbsp;Önizleme ve Tamamlama</span>
                        </a>
                    </li>
                </ul>
                <div id="step-1">
                    <div class="form-horizontal form-label-left">
                        @*@if (!Common.CurrentUser.CompanyId.HasValue)
                        {
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Şirket *</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @Html.DropDownListFor(m => m.CompanyId, Common.GetCompanySelectList(), "Şirket Seçiniz", new { @class = "form-control col-md-7 col-xs-12" })
                                    @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">
                                Anket İsmi <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Anket ismini girin." })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Anket Tipi <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="SurveyType" name="SurveyType" class="select2_single form-control" tabindex="-1">
                                    <option value="0">Genel Anket</option>
                                    <option value="1">Kişilik Testi</option>
                                    <option value="3">Vitrin</option>
                                    <option value="4">Pollyfy Araştırma</option>
                                </select>
                                @Html.ValidationMessageFor(m => m.SurveyType, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Kullanım Tipi <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(m => m.UsageType, WebUtils.GetUsageTypeSelect(), "Kullanım Tipi Seçiniz", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.UsageType, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SurveyUrl">
                                Anket Resimi <span class="optional"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.SurveyUrl, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Resim url giriniz. (1000*540)" })
                                @Html.ValidationMessageFor(m => m.SurveyUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="QuestionCount">
                                Soru Sayısı <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.QuestionCount, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Soru sayısını girin." })
                                @Html.ValidationMessageFor(m => m.QuestionCount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*zencefil*@
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Sektör <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownListFor(m => m.SectorId, Common.GetCategorySelectList("cat_sector"), "Sektör Seçiniz", new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(m => m.SectorId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="StartDate">Başlama Tarihi&nbsp;</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.StartDate, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FinishDate">Bitiş Tarihi&nbsp;</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.EditorFor(model => model.FinishDate, new { @class = "form-control col-md-7 col-xs-12" })
                                @Html.ValidationMessageFor(model => model.FinishDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="SpecialNumber">
                                Özel Anket Numarası
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.SpecialNumber, new { @class = "form-control col-md-7 col-xs-12", placeholder = " Özel Anket Numarası." })
                                @Html.ValidationMessageFor(m => m.SpecialNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group usage-limit usage-3 usage-4">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="JoinLimit">
                                Katılım Limiti
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.JoinLimit, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Maksimum katılımcı sayısını girin." })
                                @Html.ValidationMessageFor(m => m.JoinLimit, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        @*<div class="form-group usage-limit usage-3 usage-4">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="DaylyJoinLimit">
                                Günlük Katılım Limiti
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.DaylyJoinLimit, new { @class = "form-control col-md-7 col-xs-12", placeholder = "0" })
                                @Html.ValidationMessageFor(m => m.DaylyJoinLimit, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        @*<div class="form-group usage-limit usage-2 usage-3 usage-4 usage-5 usage-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="UseAccuracy">
                                Güvenilirlik Hesapla
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 has-notify">
                                @Html.CheckBoxFor(m => m.UseAccuracy, new { @class = "form-control", style = "width: 20px; height: 20px; margin-top: 7px;" })
                                @Html.ValidationMessageFor(m => m.UseAccuracy, "", new { @class = "text-danger" })*@
                                @*<a class="btn btn-success btn-sm notiyfy-inline" data-title="Güvenilirlik" data-text="Güvenilirlik hesabı nedir?" data-type="success"><i class="fa fa-question-circle"></i></a>*@
                            @*</div>
                        </div>*@
                        @*<div class="form-group accuracy-limit usage-limit usage-2 usage-3 usage-4 usage-5 usage-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Güvenilirlik Soru Sayısı
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-3 has-notify">
                                @Html.TextBoxFor(m => m.AccuracyQueCount, new { @class = "form-control", placeholder = "" })
                                @Html.ValidationMessageFor(m => m.AccuracyQueCount, "", new { @class = "text-danger" })
                                @*<a class="btn btn-success btn-sm notiyfy-inline" data-title="Güvenilirlik Soru Sayısı" data-text="Güvenilirlik hesabı nedir?" data-type="success"><i class="fa fa-question-circle"></i></a>*@
                            @*</div>
                        </div>*@
                        @*<div class="form-group accuracy-limit usage-limit usage-2 usage-3 usage-4 usage-5 usage-6">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Güvenilirlik Kısıt Oranı (%)
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-3 has-notify">
                                @Html.TextBoxFor(m => m.AccuracyCriteria, new { @class = "form-control", placeholder = "0" })
                                @Html.ValidationMessageFor(m => m.AccuracyCriteria, "", new { @class = "text-danger" })*@
                                @*<a class="btn btn-success btn-sm notiyfy-inline" data-title="Güvenilirlik Oranı" data-text="Güvenilirlik hesabı nedir?" data-type="success"><i class="fa fa-question-circle"></i></a>*@
                            @*</div>
                        </div>*@

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FullingTime">
                                Doldurma Süresi
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBoxFor(m => m.FullingTime, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Doldurma süresini girin." })
                                @Html.ValidationMessageFor(m => m.FullingTime, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*@if (Common.CurrentUser != null && Common.CurrentUser.Types == UserType.SystemAdmin)
                        {
                            <div class="form-group usage-limit usage-4">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Ödül Puanı<span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input class="form-control col-md-7 col-xs-12" data-val="true" data-val-required="Ödül değeri zorunludur" id="Reward" name="Reward" placeholder="Ödül değerini girin." type="text" value="@Model.Reward">
                                    @Html.ValidationMessageFor(m => m.Reward, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }*@
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Deneyim Puanı</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control col-md-7 col-xs-12" id="ExPoint" name="ExPoint" placeholder="Deneyim puanı girin." type="text" value="@Model.ExPoint">
                                @Html.ValidationMessageFor(m => m.ExPoint, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        @*<div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Kapsam</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.ListBoxFor(m => m.FormScopes, Common.GetCategorySelectList("cat_scope"), new { @class = "select2_multiple select2_scope form-control col-md-7 col-xs-12", multiple = "multiple", placeholder = "Tüm Türkiye" })
                                @Html.ValidationMessageFor(m => m.FormScopes, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="form-group usage-limit usage-3">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Kampanya Kodları</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <button type="button" class="btn btn-round btn-info" data-toggle="modal" data-target=".bs-promo-modal-lg">
                                    @if (string.IsNullOrEmpty(Model.CurrentPromotion))
                                    {
                                        <i class="fa fa-ticket"></i> <span id="promoStatus">Henüz kampanya kodu tanımlamadınız. Tanımlamak için buraya tıklayın!</span>
                                    }
                                    else
                                    {
                                        <i class="fa fa-ticket"></i> <span id="promoStatus">Kampanya dosyası yüklendi!</span>
                                    }
                                </button>
                                <input type="hidden" id="CurrentPromotion" name="CurrentPromotion" />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step-2">
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Çalışmanın Amacı</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Anket açıklamalarını yazınız.", rows = "7" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Final Mesajı</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.FinalMessage, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Anket sonu mesajı yazınız.", rows = "7" })
                                @Html.ValidationMessageFor(m => m.FinalMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Bilgi Paylaşım İzni Sorusu</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextAreaFor(m => m.PrivacyQuestion, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Katılımcıya bilgilerini sizinle paylaşmak isteyip istemediğini sorun.", rows = "7" })
                                @Html.ValidationMessageFor(m => m.PrivacyQuestion, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                @*<div id="step-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Grup Tanımları</h2>
                            <button id="btnAddGroupRow" type="button" class="btn btn-primary btn-sm" style="float:right;" onclick="javascript: addGroup()"><i class="fa fa-plus"></i>&nbsp;Grup Ekle</button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="alert alert-warning group-alert" role="alert">
                                <i class="fa fa-warning"></i>&nbsp;
                                <strong>Değerlendirme için "Grup Ekle" düğmesini kullanarak grup tanımlaması yapabilirsiniz.<br /></strong>
                            </div>
                            <table class="table table-bordered group-table" style="display:none;">
                                <thead>
                                    <tr>
                                        <th style="width: 50px;text-align: center;">Sıra</th>
                                        <th style="">Grup Adı</th>
                                        <th style="width: 100%;">Açıklama</th>
                                        <th colspan="2" style="width: 300px;text-align: center;">Puan Aralığı</th>
                                        <th style="width: 50px;text-align: center;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        counter = 0;
                                        foreach (QuestionGroup g in Model.QuestionGroups)
                                        {

                                            <tr>
                                                <td class="rownumber">@(counter + 1)</td>
                                                <td>
                                                    <textarea name="QuestionGroups[@counter].Name">@g.Name</textarea>
                                                    <input class="active-status" type="hidden" name="QuestionGroups[@counter].ActiveStatus" value="@((int)g.ActiveStatus)" />
                                                    <input type="hidden" name="QuestionGroups[@counter].GroupId" value="@g.GroupId" />
                                                </td>
                                                <td>
                                                    <textarea name="QuestionGroups[@counter].Description" style="width: 100%;">@g.Description</textarea>
                                                </td>
                                                <td><input name="QuestionGroups[@counter].BeginScore" value="@g.BeginScore" style="width: 50px;text-align: center;" /></td>
                                                <td><input name="QuestionGroups[@counter].EndScore" value="@g.EndScore" style="width: 50px;text-align: center;" /></td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="javascript: removeGroup(this);"><i class="fa fa-close"></i></button>
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@
                <div id="step-5">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Anket Özellikleri</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><label>Anket İsmi</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_name"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Soru Sayısı</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_quecount"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Özel Anket Numarası</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_specialNumber"></td>
                                    </tr>
                                    @*<tr>
                                        <td><label>Anket Tipi</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_type"></td>
                                    </tr>*@
                                    @*<tr>
                                        <td><label>Sektör</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_sector"></td>
                                    </tr>*@
                                    @*<tr>
                                        <td><label>Katılım Limiti</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_limit"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Kapsam</label></td>
                                        <td style="text-align:right;">:</td>
                                        <td style="width:80%;" class="s_scope"></td>
                                    </tr>*@
                                    @if (Common.CurrentUser.Types == UserType.CompanyAdmin || Common.CurrentUser.Types == UserType.SystemAdmin)
                                    {
                                        <tr>
                                            <td><label>Özel Katılımcılar</label></td>
                                            <td style="text-align:right;">:</td>
                                            <td style="width:80%;" class="surveyUserCount">0</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Katılımcı Özellikleri</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table table-striped">
                                <tbody class="user_const"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End SmartWizard Content -->
        </div>
    </div>
</form>

<div class="modal fade bs-promo-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Kampanya Kodlarını Tanımlayın</h4>
            </div>
            <div class="modal-body">
                <form id="frmPromo" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <p>
                                Şablonu indirin, doldurun ve yükleyin! <br />
                                Yalnızca Anketi başarılı tamamlayan katılımcılar kampanyalardan faydalana bilecekler!
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CompanyName">Şirket&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="CompanyName" class="form-control col-md-7 col-xs-12" placeholder="Kampanya Sahibi" required data-val="true" data-val-required="Şirket bilgisi boş olamaz." />
                            <span class="field-validation-valid text-danger" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ContactUrl">Web Adresi&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="ContactUrl" class="form-control col-md-7 col-xs-12" placeholder="İletişim Adresi" required data-val="true" data-val-required="İletişim bilgisi boş olamaz." />
                            <span class="field-validation-valid text-danger" data-valmsg-for="ContactUrl" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Title">Başlık&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="Title" class="form-control col-md-7 col-xs-12" placeholder="Kampanya Başlığı" required data-val="true" data-val-required="Başlık bilgisi boş olamaz." />
                            <span class="field-validation-valid text-danger" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ImageUrl">Kampanya Resmi</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input name="ImageUrl" class="form-control col-md-7 col-xs-12" placeholder="Kampanya Resim Adresi" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">Açıklama/Şartlar&nbsp;<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea name="Description" class="form-control col-md-7 col-xs-12" placeholder="Kampanya şartları veya açıklaması" required data-val="true" data-val-required="Açıkama ve şartlar boş olamaz."></textarea>
                            <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">Başlama Tarihi&nbsp;</label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input name="StartDate" class="date-picker form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Description">Bitiş Tarihi&nbsp;</label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input name="FinishDate" class="date-picker form-control col-md-7 col-xs-12" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Şablon Dosyası</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="~/Files/Import/Pollyfy_Import_Promo.xlsx" target="_blank" class="btn btn-round btn-info">
                                <i class="fa fa-download"></i>&nbsp;&nbsp;Şablonu İndir!
                            </a>
                        </div>
                    </div>
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Dosyanızı Yükleyin&nbsp;<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.Partial("~/Views/File/_UploadContainer.cshtml", new FileContainer() { FileType = FileType.Excell, OwnerType = FileOwnerType.Temp, IsRequired = true })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary" onclick="javascript: fillPromos()">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<table class="ref-table" style="display:none;">
    <tbody>
        <tr>
            <td class="rownumber"></td>
            <td>
                <textarea name="QuestionGroups[{0}].Name"></textarea>
                <input class="active-status" type="hidden" name="QuestionGroups[{0}].ActiveStatus" value="1" />
                <input type="hidden" name="QuestionGroups[{0}].GroupId" value="0" />
            </td>
            <td>
                <textarea name="QuestionGroups[{0}].Description" style="width: 100%;"></textarea>
            </td>
            <td><input name="QuestionGroups[{0}].BeginScore" value="" style="width: 50px;text-align: center;" /></td>
            <td><input name="QuestionGroups[{0}].EndScore" value="" style="width: 50px;text-align: center;" /></td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" onclick="javascript: removeGroup(this);"><i class="fa fa-close"></i></button>
            </td>
        </tr>
    </tbody>
</table>