﻿@model Pollyfy.Models.Survey
@using Pollyfy.Web.Core;
@using Pollyfy.Models;
@{
    ViewBag.Title = "Anket Önizleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-eye"></i>&nbsp;<b>Anket Önizleme</b></h2>
        <div class="btn-group" style="float:right;">
            <a href="~/Survey" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Anketlerim</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <section class="content invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12 invoice-header">
                    <div class="right col-xs-1 text-center">
                        @if (!string.IsNullOrEmpty(Model.ImageUrl))
                        {
                            <img width="100" height="100" src="@Model.ImageUrl" style="margin-top:-5px;" alt="" class="img-circle img-responsive">
                        }
                    </div>
                    <h1>
                        @Model.Name
                        <b class="pull-right" style="font-size:x-small;">@DateTime.Now.ToShortDateString()</b>
                    </h1>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            @if (!string.IsNullOrEmpty(Model.Description))
            {
                <div class="row invoice-info">
                    <div class="col-sm-12 invoice-col">
                        <blockquote>@Html.DisplayFor(m => m.Description)</blockquote>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table">
                    @{

                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td><label>Anket İsmi</label></td>
                                    <td style="text-align:right;">:</td>
                                    <td style="width:80%;" class="s_name">@Model.Name</td>
                                </tr>
                                <tr>
                                    <td><label>Soru Sayısı</label></td>
                                    <td style="text-align:right;">:</td>
                                    <td style="width:80%;" class="s_quecount">@Model.QuestionCount soru</td>
                                </tr>
                                @*<tr>
                                    <td><label>Anket Tipi</label></td>
                                    <td style="text-align:right;">:</td>
                                    <td style="width:80%;" class="s_type">@Common.GetSurveyTypeText(Model.SurveyType)</td>
                                </tr>*@
                                @*<tr>
                                    <td><label>Sektör</label></td>
                                    <td style="text-align:right;">:</td>
                                    <td style="width:80%;" class="s_sector">@(Model.Sector != null ? Model.Sector.Text : "")</td>
                                </tr>*@
                                @*<tr>
                                    <td><label>Katılım Limiti</label></td>
                                    <td style="text-align:right;">:</td>
                                    <td style="width:80%;" class="s_limit">@Model.QuestionCount</td>
                                </tr>*@
                                @*<tr>
                                    <td><label>Kapsam</label></td>
                                    <td style="text-align:right;">:</td>
                                    <td style="width:80%;" class="s_scope">@(Model.Scopes.Count > 0 ? string.Join(", ", Model.Scopes.Select(m => m.Text)) : "Tüm Türkiye")</td>
                                </tr>*@
                            </tbody>
                        </table>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-user"></i>&nbsp;Katılımcı Kısıtları<small>(@Model.Constraints.Count kısıt)</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                @if (Model.Constraints.Count == 0)
                                {
                                    <p><b>Henüz kullanıcı kısıtı belirtmediniz!</b></p>
                                }
                                <table class="table table-striped">
                                    <tbody class="user_const">
                                        @{
                                            foreach (var c in Model.Constraints.Select(m => new { m.CategoryId, m.Category.Text }).Distinct())
                                            {
                                                var items = Model.Constraints.Where(m => m.CategoryId == c.CategoryId).Select(m => m.Text).ToList();
                                                <tr><td><label>@c.Text</label></td><td style="text-align:right;">:</td><td style="width:80%;">@string.Join(", ", items)</td></tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-question-circle-o"></i>&nbsp;Anket Soruları<small>(@Model.Questions.Count soru)</small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                @{
                                    if (Model.Questions.Count == 0)
                                    {
                                        <p><b>Henüz soru oluşturmadınız!</b></p>
                                    }
                                    int counter = 0;
                                    foreach (Question q in Model.Questions)
                                    {
                                        counter++;
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width:20px;">@counter)</th>
                                                    <th>@q.QuestionText</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (q.QuestionType == QuestionType.OpenEnded)
                                                {
                                                    <tr>
                                                        <td colspan="2"><textarea style="width:100%;" disabled></textarea> </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    foreach (Choice c in q.Choices)
                                                    {
                                                        <tr>
                                                            @if (q.QuestionType == QuestionType.MultipleSelect)
                                                            {
                                                                <td><input type="checkbox" name="@counter"/></td>
                                                            }
                                                            else
                                                            {
                                                                <td><input type="radio" name="@counter" /></td>
                                                            }
                                                            <td>@c.Text</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">
                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i>&nbsp;Yazdır</button>
                </div>
            </div>
        </section>
    </div>
</div>
