﻿@model IEnumerable<Question>
@using Pollyfy.Web.Core;
@using Pollyfy.Core.Extensions;
@using Pollyfy.Models;
@{
    ViewBag.Title = "Anket Soruları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-list"></i>&nbsp;<b>Anket Soru Listesi</b><small>(@ViewBag.SurveyName)</small></h2>
        <div class="btn-group" style="float:right; margin-left:5px;">
            <a href="~/Survey" class="btn btn-primary btn-sm"><i class="fa fa-list"></i>&nbsp;Anketlerim</a>
        </div>
        @*<div class="btn-group" style="float:right;">
                <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=0" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;Yeni Soru Ekle</a>
                <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=0">&nbsp;Çoktan Tek Seçmeli</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=1">&nbsp;Çoktan Çok Seçmeli</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=2">&nbsp;Evet/Hayır Seçenekli</a>
                    </li>
                </ul>
            </div>*@
        <div class="clearfix"></div>
    </div>

    <div class="x_content">
        <div class="row pull-right" style="margin:-10px 1px 5px 0px;">
            @if (ViewBag.SurveyType == (int)SurveyType.Enneagram)
            {
                <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=0" style="float:right;" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Çoktan Tek Seçmeli Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-dot-circle-o"></i>&nbsp;Soru Ekle</a>
            }
            else
            {
                <div class="btn-group btn-group-sm" style="float:right;">

                    <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=3" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Resimli Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-image"></i>&nbsp;Resimli</a>

                    @*<a href="~/Survey/Question/@(ViewBag.SurveyId)?type=4" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Progres Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-sliders"></i>&nbsp;Progres</a>

                    <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=5" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-meh-o"></i>&nbsp;Emoji</a>*@

                    <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=0" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Çoktan Tek Seçmeli Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-dot-circle-o"></i>&nbsp;Çoktan Tek Seçmeli</a>

                    <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=1" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Çoktan Çok Seçmeli Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-check-square-o"></i>&nbsp;Çoktan Çok Seçmeli</a>

                    <a href="~/Survey/Question/@(ViewBag.SurveyId)?type=2" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Açık Uçlu Soru Ekle"><i class="fa fa-plus"></i>&nbsp;<i class="fa fa-comment"></i>&nbsp;Açık Uçlu</a>
                </div>
            }
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="min-width: 50px; width:50px">Sıra</th>
                    <th style="width:100%;">Soru Metni</th>
                    @if (ViewBag.SurveyType == (int)SurveyType.Enneagram)
                    {
                        <th style="min-width: 120px;">Enneagram Tipi</th>
                    }
                    <th style="min-width: 120px;">Soru Tipi</th>
                    <th style="min-width: 85px; width:85px">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="5">Henüz soru eklemediniz.</td>
                        </tr>
                    }
                    int counter = 0;
                    foreach (Question q in Model)
                    {
                        counter++;
                        <tr>
                            <td>@counter</td>
                            <td>@q.QuestionText</td>
                            @if (ViewBag.SurveyType == (int)SurveyType.Enneagram)
                            {
                                <td>@Common.GetEnneagramTypeText(q.EnneagramType)</td>
                            }
                            <td>@Common.GetQuestionTypeText(q.QuestionType)</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="~/Survey/Question/@(ViewBag.SurveyId)?queId=@q.QuestionId.GetIndirectRef(typeof(Question))" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Düzenle"><i class="fa fa-edit"></i></a>
                                    <a href="~/Survey/QuestionDelete/@q.QuestionId.GetIndirectRef(typeof(Question))" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sil"><i class="fa fa-trash"></i></a>
                                </div>

                                @*<div class="btn-group">
                                        <a class="btn btn-primary btn-sm" href="~/Survey/Question/@(ViewBag.SurveyId)?queId=@q.QuestionId.GetIndirectRef(typeof(Question))">Düzenle</a>
                                        <button type="button" class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li class="divider"></li>
                                            <li>
                                                <a href="~/Survey/Question/@(ViewBag.SurveyId)?queId=@q.QuestionId.GetIndirectRef(typeof(Question))">&nbsp;Düzenle</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="~/Survey/QuestionDelete/@q.QuestionId.GetIndirectRef(typeof(Question))">&nbsp;Sil</a>
                                            </li>
                                        </ul>
                                    </div>*@
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="form-group constraint const_" formmethod ="get">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <a href=" @Url.Action("ConstaintsAdd","Survey", new { id = ViewBag.SurveyId})" class="btn btn-primary">
                                            Gönderilecek kişileri kısıtlayın.
                                        </a>
                                    </div>
                            </div>
    </div>
</div>
