﻿@{
    ViewBag.Title = "Yardım";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Yardım<small>(Hazırlanıyor)</small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-warning"></i>&nbsp;
            Yardım sayfası henüz hizmete açılmamıştır. <b style="font-style:italic;"> - pollyfy.com</b>
        </div>
    </div>
</div>
